/* Body */
body
{
    margin: 0px;
}
/* Container */
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* Header */
.header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40%;
    position: relative;
    
}
.cover-img
{
    width: 100%;
}
.profile-img
{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    border-radius: 50%;
    border: 15px solid white;
    box-shadow: 0px 5px 3px rgb(198, 168, 154);
}
/* Name And Bio */
.name-and-bio
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Aref Ruqaa", serif;
    text-align: center;
    padding: 5%;
    padding-top: 0%;

}
.name-and-bio p {
    font-size: 23px;
}
.name-and-bio h1
{
    margin: 0px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: 100;
    border-bottom: 1px solid rgb(198, 168, 154);
}
.name-and-bio a
{
    text-decoration: none;
    background-color: rgb(7, 131, 0);
    color: white;
    border: 5px solid rgb(7, 131, 0);
    border-radius: 10px;
    animation: showUp 1s linear 1s infinite alternate;
    transition: all;
}
/* Services */
.services
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 20px;
}
.service
{
    display: flex;
    flex-direction: row-reverse;   
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3%;
    width: 300px;
    border-radius: 8px;
    border: 1px solid rgb(198, 168, 154);
}
#LBY
{
    font-family: "Dancing Script", serif;
    font-size: 22px;
    color: black;
    font-weight: 900;
    margin-bottom: 0px;
}
.service:hover
{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 3px 3px rgb(198, 168,154);
}
.service h3
{
    font-size: 20px;
    font-weight: 900;
    font-family: "Reem Kufi Fun", serif;
    margin: 0px;
}
.service img
{
    width: 10%;
}
@keyframes showUp {
    0% {
        filter: blur(1px);
        scale: 1;
    }
    100% {
        filter: blur(0px);
        scale: 1.2;
        }
}
#special{
    color: rgb(160, 136, 0);
    filter: blur(2px);
    animation: showUp 0.5s linear 0.5s infinite alternate;
    transition: all;
}
.service h3
{
    color: black;
    margin: 0px;
    text-align: center;
    text-decoration: none;
}
/* Social-Footer */
Footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 5%;
    background-color: rgb(198, 168, 154);
    border-radius: 50px;
    box-shadow: -5px 5px 3px gray;
}
.social-footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.social-footer h3
{
    font-family: 'Pacifico', cursive;
    font-size: 12px;
    margin: 0px;
    position: absolute;
    top: -22px;
    left: 25%;
}
.social-links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-links a
{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links a:hover
{
    color: black;
    transition: 0.5s;
}
.social-links img
{
    width: 60%;
}
#arrow
{
    rotate: 90deg;
    width: 22%;
}
/*  Projects==============-=-=-=====------------------------ */
.my-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-top: 1px solid rgb(198, 168, 154);
    padding-top: 10%;
}
.my-projects h3{

    margin: 0px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
#projects{
    display: flex;
    width: 100%;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10%;
}
#projects img{
    max-width: 80px;
    max-height: 80px;
    width: 80px;
    height: auto;
}
.projectDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
/*  REviews */
.my-reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-top: 1px solid rgb(198, 168, 154);
    padding-top: 10%;
}
.my-reviews h3{

    margin: 0px;
    font-family: 'Cairo', sans-serif;

    font-size: 20px;
}
.my-reviews p{
    width: 150px;
    height: 250px;
    text-align: center;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    border: 1px solid rgb(198, 168, 154);
    border-radius: 8px;
    padding: 5%;
    background-color: rgb(198, 168, 154);
    color: black;
    font-weight: 900;
}
#reviews{
    display: flex;
    width: 100%;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10%;
}
#reviews img{
    max-width: 200px;
    max-height: 300px;
    width: 200px;
    height: auto;
}
.reviewsDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}